*{
    margin:0;
    text-decoration:none;
}

.navbar{
    background-color:#251754;
    font-family:calibri;
    padding-right:15px;
    padding-left:15px;
    
}

.navdiv{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo a{
    font-size:35px;
    font-weight:600;
    color:white;
}

li{
    list-style:none;
    display:inline-block;
}

li a{
    
    color:white;
    font-size:18px;
    font-weight:bold;
    margin-right:25px;
}

li a:hover{
    color:black;
    background-color: aqua;
}


.aboutImg{
    background-color:yellow;
    width:400px;
    height:500px;
    border-radius:15px;
    margin-top:55px;
    margin-left:100px;
}

.aboutImg img{
    width:400px;
    height:500px;
    border-radius:15px;
    box-shadow: 2px 2px 60px green;
}

.aboutContentDiv{
    line-height:50px;
    /* border:2px solid black;
    background-color:pink; */
    margin-top:150px;
    margin-left:75px;
    margin-right:95px;
}

.aboutContentDiv p{
    line-height:26px;
    font-size:19px;
}
.aboutMain{
    display:flex;
}